<app-navbar />

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
               <a href="http://"><img src="../assets/en.png" alt="Profile Image" class="thumb-image"></a> 
            </div>
        </div>
        <div class="text-cointainer">
            <p>Neo Portfolio</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae maxime suscipit ab. Debitis
                inventore, excepturi rem earum sequi maiores voluptatibus velit ex, pariatur voluptates, accusantium eum
                quo iure assumenda deleniti? Iste in, natus culpa corrupti commodi, nisi reiciendis ipsam atque id sit
                eaque enim nostrum repudiandae laboriosam porro autem.
            </p>
        </div>
    </div>

    <div>
        <div>
            <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
              <p style="font-size: 25px;color:#6b08a6 ;">My Skills</p>
            </div>
            <div class="card-container">
              <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                  <p style="color:#6b08a6 ;">Angular</p>
          
                </mat-card-header>
               <img mat-card-image src="../assets/angular.png" alt="Image">
                <mat-card-content>
                  <p>Helps developers build dynamic, single-page web applications.</p>
                </mat-card-content>
                <a href="https://en.wikipedia.org/wiki/AngularJS"><button>Know More..</button></a>
              </mat-card>
          
              <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                  <p style="color:#6b08a6 ;">Go Lang</p>
                  </mat-card-header>
      
                 <img mat-card-image src="../assets/go.jpg" alt="Image">
                <mat-card-content>
                  <p>Go is a statically typed, compiled high-level programming language .</p>
                </mat-card-content>
               <a href="https://en.wikipedia.org/wiki/Go_(programming_language)"> <button>Know More..</button></a>
              </mat-card>
          
              <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                  <p style="color:#6b08a6 ;">Python</p>
                </mat-card-header>
                <img mat-card-image src="../assets/python.png" alt="Image">
                <mat-card-content>
                  <p>Python is designed for developing task automation, data analysis.</p>
                </mat-card-content>
                <a href="https://en.wikipedia.org/wiki/Python_(programming_language)"><button>Know More..</button></a>
              </mat-card>
          
          
          
            </div>
          </div>

</div>

<app-footer />

